body {
	margin: 0;
	padding: 0;
	background-color: #F3F3F3;
}

.wrapper {
	margin: 0;
	padding: 0;
}

.wrapper .navbar {
	height: 55px;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.wrapper .navbar .navbar-nav li {
	padding-right: 10px;
}

.sidenav {
	margin-top: 55px;
  	height: 100%;
  	width: 200px;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #111;
  	overflow-x: hidden;
  	padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  padding-top: 70px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
